

div#plugin__qc__wrapper {
    font-size: 90%;
    background-color: __background_neu__;
    text: __text_neu__;
    border: 1px solid __border__;
    width: 600px;
    padding: 1px;
}

div#plugin__qc__out {
    padding: 1em;
}

div#plugin__qc__out dl dt {
    float: left;
    width: 10em;
    clear: left;
}


div#plugin__qc__out div {
    margin-left: 1em;
}

div#plugin__qc__out p {
    margin-left: 1em;
}

div#plugin__qc__out h1,
div#plugin__qc__out h2,
div#plugin__qc__out h3,
div#plugin__qc__out h4,
div#plugin__qc__out h5 {
    margin: 0;
    border: none;
}

div#plugin__qc__out h1 {
    margin-bottom: 0.5em;
}

div#plugin__qc__out h2 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

div#plugin__qc__out h3 {
    font-size: 1em;
}

div#plugin__qc__out img {
    margin-left: 3px;
}

div.dokuwiki img.qc_smallicon {
    margin-left: 1em;
}

#plugin__qc_admin table {
    width: 50em;
}

#plugin__qc_admin td,
#plugin__qc_admin th {
    padding:3px;
}

#plugin__qc_admin th.quality,
#plugin__qc_admin th.fixme {
    width: 10em;
}

#plugin__qc_admin .right {
    text-align:right;
}


