#plugin__qc__wrapper {
    font-size: 90%;
    background-color: __background_neu__;
    text: __text_neu__;
    border: 1px solid __border__;
    width: 600px;
    padding: 1px;
}
#plugin__qc__wrapper a {
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    display: block;
    width: 590px;
    height: 100%;
}
#plugin__qc__wrapper a img {
    padding: 0 10px;
}
#plugin__qc__wrapper a dl dt {
    float: left;
}
#plugin__qc__wrapper a div {
    margin-left: 1em;
}
#plugin__qc__wrapper a p {
    margin-left: 1em;
}
#plugin__qc__wrapper a h1,
#plugin__qc__wrapper a h2,
#plugin__qc__wrapper a h3,
#plugin__qc__wrapper a h4,
#plugin__qc__wrapper a h5 {
    margin: 0;
    border: none;
}
#plugin__qc__wrapper a h1 {
    margin-bottom: 0.5em;
}
#plugin__qc__wrapper a h2 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
#plugin__qc__wrapper a h3 {
    font-size: 1em;
}

div.dokuwiki img.qc_smallicon {
    margin-left: 1em;
}

#plugin__qc_admin table {
    width: 50em;
}

#plugin__qc_admin td,
#plugin__qc_admin th {
    padding:3px;
}

#plugin__qc_admin th.quality,
#plugin__qc_admin th.fixme {
    width: 10em;
}

#plugin__qc_admin .right {
    text-align:right;
}
